<div id = "main_view_list" >
<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<h1>Main Index</h1>
<h1>MTBidee Header 1</h1>
<h2>MTBidee header 2</h2>
<p>text.</p> 
<p><i><b>Met oprechte groet,</b></i></p>

</div>